<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TaskFormServlet</display-name>
    <servlet-name>TaskFormServlet</servlet-name>
    <servlet-class>com.tasks.servlet.TaskFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskFormServlet</servlet-name>
    <url-pattern>/TaskFormServlet</url-pattern>
  </servlet-mapping>
  <display-name>gestion_taches</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TaskListServlet</display-name>
    <servlet-name>TaskListServlet</servlet-name>
    <servlet-class>com.tasks.servlet.TaskListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskListServlet</servlet-name>
    <url-pattern>/TaskListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskEditServlet</display-name>
    <servlet-name>TaskEditServlet</servlet-name>
    <servlet-class>com.tasks.servlet.TaskEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskEditServlet</servlet-name>
    <url-pattern>/TaskEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDeleteServlet</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>com.tasks.servlet.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>